/.vs/*

# Archivos y carpetas de Visual Studio
.vs/
*.user
*.suo

# Archivos de compilación
**/bin/
!eventManager/WinFormsApp1/bin/
!eventManager/WinFormsApp1/bin/Debug/
!eventManager/WinFormsApp1/bin/Debug/net9.0-windows/
!eventManager/WinFormsApp1/bin/Debug/net9.0-windows/eventManager.db

**/obj/

# Otros archivos temporales
*.log

eventManager/.vs/*
eventManager/WinFormsApp1/obj/Debug/*
eventManager/WinFormsApp1/obj/Release/*
eventManager/WinFormsApp1/bin/*